In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [108]:
import os
import glob
import numpy as np
import pandas as pd
from sklearn.model_selection import GroupShuffleSplit

In [ ]:
fundus_images_path = "/content/drive/MyDrive/data/frame_sequences"
images_path = glob.glob(fundus_images_path + '/**/*jpg')

In [46]:
images_path[1]

'/content/drive/MyDrive/data/frame_sequences/Study_02_00007_01_L/1.jpg'

In [126]:
os.path.relpath(images_path[1], "/content/drive/MyDrive")

'data/frame_sequences/Study_02_00007_01_L/1.jpg'

In [ ]:
os.path.dirname(images_path[0]).split("/")[-1:][0]

'Study_02_00007_01_L'

In [128]:
df = pd.DataFrame()
df.insert(0, "full_path", images_path)
df.insert(1, "relative_path", df.full_path.apply(lambda x: os.path.relpath(x, "/content/drive/MyDrive")))
df.insert(2, "file_name", df.full_path.apply(lambda x: os.path.basename(x)))
df.insert(3, "study", df.full_path.apply(lambda x: os.path.dirname(x).split("/")[-1:][0]))
df.insert(4, "patient_id", df.study.apply(lambda x: x.split("_")[2]))
df.insert(5, "patient_record_num", df.study.apply(lambda x: x.split("_")[3]))
df.insert(5, "eye", df.study.apply(lambda x: x.split("_")[4]))

In [129]:
df

                                                full_path  ... patient_record_num
0       /content/drive/MyDrive/data/frame_sequences/St...  ...                 01
1       /content/drive/MyDrive/data/frame_sequences/St...  ...                 01
2       /content/drive/MyDrive/data/frame_sequences/St...  ...                 01
3       /content/drive/MyDrive/data/frame_sequences/St...  ...                 01
4       /content/drive/MyDrive/data/frame_sequences/St...  ...                 01
...                                                   ...  ...                ...
127789  /content/drive/MyDrive/data/frame_sequences/St...  ...                 03
127790  /content/drive/MyDrive/data/frame_sequences/St...  ...                 03
127791  /content/drive/MyDrive/data/frame_sequences/St...  ...                 03
127792  /content/drive/MyDrive/data/frame_sequences/St...  ...                 03
127793  /content/drive/MyDrive/data/frame_sequences/St...  ...                 03

[127794 rows x 7 columns]

In [130]:
df.patient_id.value_counts().describe()

count      78.000000
mean     1638.384615
std       259.318699
min      1008.000000
25%      1512.000000
50%      1514.000000
75%      1954.000000
max      2521.000000
Name: patient_id, dtype: float64

In [139]:
df2 = df.groupby("patient_id").sample(500)

In [140]:
df2.patient_id.value_counts().describe()

count     78.0
mean     500.0
std        0.0
min      500.0
25%      500.0
50%      500.0
75%      500.0
max      500.0
Name: patient_id, dtype: float64

In [141]:
df2 = df2.reset_index(drop=True)

In [142]:
df2

                                               full_path  ... patient_record_num
0      /content/drive/MyDrive/data/frame_sequences/St...  ...                 03
1      /content/drive/MyDrive/data/frame_sequences/St...  ...                 01
2      /content/drive/MyDrive/data/frame_sequences/St...  ...                 01
3      /content/drive/MyDrive/data/frame_sequences/St...  ...                 02
4      /content/drive/MyDrive/data/frame_sequences/St...  ...                 01
...                                                  ...  ...                ...
38995  /content/drive/MyDrive/data/frame_sequences/St...  ...                 03
38996  /content/drive/MyDrive/data/frame_sequences/St...  ...                 03
38997  /content/drive/MyDrive/data/frame_sequences/St...  ...                 03
38998  /content/drive/MyDrive/data/frame_sequences/St...  ...                 02
38999  /content/drive/MyDrive/data/frame_sequences/St...  ...                 03

[39000 rows x 7 columns]

In [143]:
train_inds, test_inds = next(GroupShuffleSplit(test_size=.20, n_splits=2, random_state=0).split(df2, groups=df2['patient_id']))

train = df2.iloc[train_inds]
test = df2.iloc[test_inds]

In [146]:
train

                                               full_path  ... patient_record_num
0      /content/drive/MyDrive/data/frame_sequences/St...  ...                 03
1      /content/drive/MyDrive/data/frame_sequences/St...  ...                 01
2      /content/drive/MyDrive/data/frame_sequences/St...  ...                 01
3      /content/drive/MyDrive/data/frame_sequences/St...  ...                 02
4      /content/drive/MyDrive/data/frame_sequences/St...  ...                 01
...                                                  ...  ...                ...
38995  /content/drive/MyDrive/data/frame_sequences/St...  ...                 03
38996  /content/drive/MyDrive/data/frame_sequences/St...  ...                 03
38997  /content/drive/MyDrive/data/frame_sequences/St...  ...                 03
38998  /content/drive/MyDrive/data/frame_sequences/St...  ...                 02
38999  /content/drive/MyDrive/data/frame_sequences/St...  ...                 03

[31000 rows x 7 columns]

In [157]:
test

                                               full_path  ... patient_record_num
1000   /content/drive/MyDrive/data/frame_sequences/St...  ...                 02
1001   /content/drive/MyDrive/data/frame_sequences/St...  ...                 02
1002   /content/drive/MyDrive/data/frame_sequences/St...  ...                 03
1003   /content/drive/MyDrive/data/frame_sequences/St...  ...                 01
1004   /content/drive/MyDrive/data/frame_sequences/St...  ...                 02
...                                                  ...  ...                ...
37995  /content/drive/MyDrive/data/frame_sequences/St...  ...                 02
37996  /content/drive/MyDrive/data/frame_sequences/St...  ...                 01
37997  /content/drive/MyDrive/data/frame_sequences/St...  ...                 02
37998  /content/drive/MyDrive/data/frame_sequences/St...  ...                 03
37999  /content/drive/MyDrive/data/frame_sequences/St...  ...                 01

[8000 rows x 7 columns]

In [148]:
train.patient_id.unique()

array(['00007', '00008', '00010', '00014', '00015', '00016', '00018',
       '00026', '00038', '00040', '00041', '00042', '00049', '00052',
       '00054', '00056', '00059', '00061', '00063', '00066', '00072',
       '00073', '00074', '00075', '00076', '00077', '00079', '00080',
       '00082', '00083', '00084', '00086', '00087', '00088', '00089',
       '00090', '00092', '00093', '00094', '00095', '00097', '00098',
       '00101', '00102', '00103', '00104', '00105', '00106', '00109',
       '00110', '00111', '00112', '00115', '00116', '00117', '00118',
       '00119', '00122', '00123', '00125', '00127', '00128'], dtype=object)

In [149]:
test.patient_id.unique()

array(['00009', '00078', '00081', '00085', '00091', '00096', '00099',
       '00100', '00107', '00108', '00113', '00114', '00120', '00121',
       '00124', '00126'], dtype=object)

In [152]:
train.to_pickle(f"/content/drive/MyDrive/data/train.pkl")
test.to_pickle(f"/content/drive/MyDrive/data/test.pkl")